div {
  background-color: #E4F9F5;
}

body {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

h1 {
  margin: auto;
  width: 20%;
  font-family: 'Dancing Script', serif;
}

p {
  font-family: 'Montserrat', sans-serif;
}

.top-container {
  height: 100%;
  width: 100%;
  background-color: #E4F9F5;
  border: 10px;
  padding: 20px;
  position: relative;
  padding-top: 100px;
}

.middle-container {

}

.bottom-container {

}

.red {
  height: 100px;
  width: 100px;
  background-color: red;
}

.blue {
  height: 100px;
  width: 100px;
  background-color: blue;
  position: absolute;
  margin-left: 100px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.myphoto {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.law-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.programming-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.blockchain-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.cpa-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.mail-photo {
  width: 25px;
  height: 25px;
}
